{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <form action="{% url 'todo_create_view' %}" class="detail-container" method="post">
            {% csrf_token %}
            <h1>Add Todo</h1>
            <div class="input-field">
                {% for field in form %}                    
                    <label>{{ field.label }}</label>
                    {{ field }}   
                    {{ field.errors }}            
                {% endfor %}
            </div>
            <div class="btn-container">
                <input type="submit" value="Create Todo" class="create-btn">
                <a href="{% url 'todo_list_view' %}" class="delete-btn">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}